html {
  color-scheme: dark;
}

.centerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  justify-items: center;
  align-items: center;
}

.centerFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.oneLineCenter {
  display: grid;
  place-items: center;
}

.innerCard {
  width: 346px;
  height: 529px;
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.card {
  perspective: 692px;
}

.card img {
  width: 346px;
  height: 529px;
}

.card:hover > .innerCard {
  cursor: pointer;
  
}

.front,
.back {
  width: 100%;
  height: 100%;
  /* box-shadow: 0, 0, 3px, 2px, #ff656585; */
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg) rotateZ(180deg);
}